
<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-title>Time 2 Cash</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <div class="background-wrapper">
    <div class="background-pattern"></div>
  </div>

  <div class="page-container">
    <div class="section-header">
      <h1>Quanto vale seu desejo?</h1>
    </div>


    <ion-item lines="none">
      <!-- <ion-label position="stacked">Nome do produto</ion-label> -->
      <ion-input  label="Nome do produto" labelPlacement="floating" [(ngModel)]="nomeProduto" placeholder="Ex.: Viagem para a praia"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <!-- <ion-label position="stacked">Preço (R$)</ion-label> -->
      <ion-input label="Preço (R$)" labelPlacement="floating"  type="number" [(ngModel)]="precoProduto" placeholder="Ex.: 2500"></ion-input>
    </ion-item>

    <div class="button-container">
      <ion-button expand="block" (click)="simularCompra()">Calcular</ion-button>
    </div>

    <div *ngIf="loading" class="loading-container">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </div>


  <div class="floating-button" [class.rotated]="menuAberto" (click)="toggleMenu()">
    <span class="icon"><ion-icon name="add-outline"></ion-icon></span>
  </div>

  <div class="floating-menu" *ngIf="menuAberto">
    <div class="menu-button" (click)="goToFixedExpenses()">
      <ion-icon name="wallet-outline"></ion-icon>
      <span>Despesas</span>
    </div>

      <!-- <ion-icon name="trending-up-outline"></ion-icon> -->
      <!-- <span>Planejamento</span> -->
    </div>



</ion-content>



